*.bak
#*#
__pycache__/
*~
/venv/
*.db
/*.egg-info/
build/
dist/
.DS_Store
.roam/index.db-shm
.roam/index.db-wal
.coverage
.pytest_cache/
.ruff_cache/
.venv/
*.pyc
*.egg-info/
*.egg
*.whl
*.so
